<h1>All orders</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Submitted</th>
      <th>Payments Collected</th>
      <th colspan="2" style="text-align:right">
        <strong>Profits: </strong>
        <%= OrdersHelper::Formatter.color_neg(@profit).html_safe%>
      </th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= link_to order.name, order %></td>
        <td><%= order.submitted ? "Yes" : "No" %></td>
        <td><%= order.paid_for? ? "Yes" : "No" %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Delete', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<a type="button" class="btn swag btn-primary" href="<%=new_order_path%>">
  New Order
</a>
